/* Estilos para la superposición del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilos para el contenido del modal */
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Estilos para el botón de cerrar */
.close-button {
    position: absolute;
    top: -110px; /* Ajuste para posicionar correctamente */
    right: -170px; /* Ajuste para posicionar correctamente */
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001; /* Asegúrate de que el botón de cerrar esté encima del contenido */
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Asegúrate de que el formulario de inicio de sesión no oculte el botón */
.login-form {
    margin-top: 20px;
}
